{% extends "base.html" %}

{% block title %}{% endblock %}


{% block header %}{% endblock %}

{% block content %}
<form action="{{ url_for('submit_report') }}" method="post" enctype="multipart/form-data">

    <h1>Stop Search UK Report</h1>

    <div class="form-group">

        <p id="question1">{{ report_questions['question_1']['text'] }} <input type="email" name="report_email" id="reportEmail" placeholder="Type your email here..." required></p>
        <p id="question2">{{ report_questions['question_2']['text'] }} <input type="email" name="confirm_report_email" id="confirmReportEmail" placeholder="Re-type your email here..." required></p>
        <p id="question3">
            {{ report_questions['question_3']['text'] }}
            {% for option_text in report_questions['question_3']['options'].values() %}
            <div>
                <label>
                    <input type="radio" name="form_type" value="{{ option_text }}" required>
                    <b>{{ option_text }}</b>
                </label>
            </div>
            {% endfor %}
        </p>
        <p id="question4">
            {{ report_questions['question_4']['text'] }}
            <input type="datetime-local" name="form_date" id="formDate" required>
        </p>
        <p id="question5">
            {{ report_questions['question_5']['text'] }}
            <b><label for="automaticAddress">{{ report_questions['question_5']['options']['option_1'] }}</label></b>
            <input type="radio" name="address_type" id="automaticAddress" value="{{ report_questions['question_5']['options']['option_1'] }}" required>
            <b><label for="manualAddress">{{ report_questions['question_5']['options']['option_2'] }}</label></b>
            <input type="radio" name="address_type" id="manualAddress" value="{{ report_questions['question_5']['options']['option_2'] }}" required>
            <div id="userIncidentAddress">
                <label for="streetName">Street Name:</label>
                <input type="text" name="street_name" id="streetName" placeholder="door number, street name">
                <br>
                <label for="townOrCity">Town or City:</label>
                <input type="text" name="town_or_city" id="townOrCity" placeholder="town or city, (postcode optional)">
            </div>
            <!-- <label id="latitude">Latitude</label> -->
            <input type="hidden" name="latitude" id="latitude">
            <!-- <label id="longitude">Longitude</label> -->
            <input type="hidden" name="longitude" id="longitude">
        </p>
        <p id="question6">
            {{  report_questions['question_6']['text'] }}
            <select name="victims_involved" id="victimsInvolved" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_6']['options'].values() %}
                    <option value="{{ option_text }}">{{ option_text }}</option>
                {% endfor %}
            </select>
        </p>
        <p id="question12">
            {{ report_questions['question_12']['text'] }}
            <select name="victim_age" id="victimAge" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_12']['options'].values() %}
                    <option value="{{ option_text }}">{{ option_text }} </option>
                {% endfor %}
            </select>
        </p>
        <p id="question13">
          {{ report_questions['question_13']['text'] }} 
          <select name="victim_gender" id="victimGender" required>
            <option value="">Please Select</option>
            {% for option_text in report_questions['question_13']['options'].values() %}
                <option value="{{ option_text }}">{{ option_text }}</option>
            {% endfor %}
          </select>
        </p>
        <p id="question14">
            {{ report_questions['question_14']['text'] }}
            <select name="victim_race" id="victimRace" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_14']['options'].values() %}
                    <option value="{{ option_text[0] }}" {% if option_text[1]['disabled'] %}disabled{% endif %} >
                        {{ option_text[0] }}
                    </option>
                {% endfor %}
            </select>
        </p>
        <p id="question7">
            {{ report_questions['question_7']['text'] }}
            <select name="number_of_police" id="numberOfPolice" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_7']['options'].values() %}
                    <option value="{{ option_text }}">{{ option_text }}</option>
                {% endfor %}
            </select>
        </p>
        <p id="question9">
            {{  report_questions['question_9']['text'] }}
            {% for option_text in report_questions['question_9']['options'].values() %}
            <div>
                <label>
                    <input type="radio" name="search_type" value="{{ option_text }}" required>
                    <b>{{ option_text }}</b>
                </label>
            </div>
            {% endfor %}
        </p>
        <p id="question8">
            {{ report_questions['question_8']['text'] }}
            <select name="search_reason" id="searchReason" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_8']['options'].values() %}
                    <option value="{{ option_text[0] }}" {% if option_text[1]['disabled'] %}disabled{% endif %} >
                        {{ option_text[0] }}
                    </option>
                {% endfor %}
            </select>
        </p>
        <p id="question18">
            {{ report_questions['question_18']['text'] }}
            <select name="search_outcome" id="searchOutcome" required>
                <option value="">Please Select</option>
                {% for option_text in report_questions['question_18']['options'].values() %}
                    <option value="{{ option_text }}">{{ option_text }}</option>
                {% endfor %}
            </select>
        </p>
        <p id="question10">
            {{  report_questions['question_10']['text'] }}
            <div>
                <input type="radio" name="getPoliceInfo" id="noPoliceInfo" value="{{ report_questions['question_10']['options']['option_2'] }}" required>
                <b><label for="noPoliceInfo">{{ report_questions['question_10']['options']['option_2'] }}</label></b>
                <br>
                <input type="radio" name="getPoliceInfo" id="obtainPoliceInfo" value="{{ report_questions['question_10']['options']['option_1'] }}" required>
                <b><label for="obtainPoliceInfo">{{ report_questions['question_10']['options']['option_1'] }}</label></b>
            </div>
            
        </p>
        <p id="question17">
            {{ report_questions['question_17']['text'] }}
            {% for option_text in report_questions['question_17']['options'].values() %}
            <div>
                <label>    
                    <input type="radio" name="body_camera" value="{{ option_text }}" required>
                    <b>{{ option_text }}</b>
                </label>
            </div>
            {% endfor %}
        <div id="officerContainer">
            <p id="question11">
                {{ report_questions['question_11']['text'] }}
                <br>
                <input type="text" name="police_name_0" id="policeName" placeholder="Officer Name...">
                <input type="text" name="police_badge_0" id="policeName" placeholder="Officer Badge Number...">
                <input type="text" name="police_station_0" id="policeName" placeholder="Police Station...">
                <button type="button" id="addOfficerButton">Add new Officer</button>
            </p>
        </div>
        <p id="question19">
            {{ report_questions['question_19']['text'] }}
            {% for option_text in report_questions['question_19']['options'].values() %}
            <div>
                <label>    
                    <input type="checkbox" name="police_intertaction" value="{{ option_text }}">
                    <b>{{ option_text }}</b>
                </label>
            </div>
            {% endfor %}
        </p>
        <p id="question15">
            {{ report_questions['question_15']['text'] }}
            <br>
            <textarea name="additional_notes" id="additionalNotes" cols="100" rows="10"></textarea>
        </p>
        <p id="question16">
            {{ report_questions['question_16']['text'] }}
            <input type="file" name="media_files" accept="video/*,image/*" multiple>
        </p>

        <button type="submit">Submit Form</button>
        
    </div>
    
</form>
{% endblock %}



{% block script %}
<script>
// This script runs when the document is fully loaded
document.addEventListener('DOMContentLoaded', function() {
    // Get references to the relevant elements
    var userIncidentAddress = document.getElementById('userIncidentAddress');
    var automaticAddress = document.getElementById('automaticAddress');
    var manualAddress = document.getElementById('manualAddress');
    
    // Hide the street name and town/city inputs initially
    userIncidentAddress.style.display = 'none';
    
    // Add event listeners to the radio buttons
    automaticAddress.addEventListener('change', function() {
        if (automaticAddress.checked) {
            userIncidentAddress.style.display = 'none';
        }
        // Get the user's current location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
            }, function(error) {
                console.error("Error getting location: " + error.message);
            });
        } else {
            console.error("Geolocation is not supported by this browser.");
        }
    });
    
    manualAddress.addEventListener('change', function() {
        if (manualAddress.checked) {
            userIncidentAddress.style.display = 'block';
        }
    });
});

// function to hide police info if clicked 'no'
document.addEventListener('DOMContentLoaded', function() {
    var question11 = document.getElementById('question11');
    var noPoliceInfo = document.getElementById('noPoliceInfo');
    var obtainPoliceInfo = document.getElementById('obtainPoliceInfo');

    question11.style.display = 'none';

    noPoliceInfo.addEventListener('change', function() {
        if (noPoliceInfo.checked) {
            question11.style.display = 'none';
        }
    });

    obtainPoliceInfo.addEventListener('change', function() {
        if (obtainPoliceInfo.checked) {
            question11.style.display = 'block';
        }
    }); 

    // Function to add new officer inputs
    var officerIndex = 1;
    addOfficerButton.addEventListener('click', function() {
        var newOfficer = document.createElement('p');
        newOfficer.innerHTML = `
            <input type="text" name="police_name_${officerIndex}" placeholder="Officer Name...">
            <input type="text" name="police_badge_${officerIndex}" placeholder="Officer Badge Number...">
            <input type="text" name="police_station_${officerIndex}" placeholder="Police Station...">
        `;
        officerContainer.appendChild(newOfficer);
        officerIndex++;
    });
});
</script>
{% endblock %}